
/* Animação bottão scroll */

@-webkit-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  60% {
  opacity: 1;
  top: 71%;
  }
  100% {
  opacity: 0;
  top: 71%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  60% {
  opacity: 1;
  top: 71%;
  }


  100% {
  opacity: 0;
  top: 71%;
  }
}
@keyframes ani-mouse {
 0% {
  opacity: 1;
  top: 29%;
  }
  60% {
  opacity: 1;
  top: 71%;
  }
  100% {
  opacity: 0;
  top: 71%;
  }
}

 .scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 40px;
  transition: .5s;
}
.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: red;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  transition: .6s;
  color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 23px;
  transition: .6s;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #737E99;
  border-radius: 50%;
  -webkit-animation: ani-mouse 1.5s linear infinite;
  -moz-animation: ani-mouse 1.5s linear infinite;
  animation: ani-mouse 1.5s linear infinite;
}



/* Animações Home */

.anime{
  opacity: 0;
  transform: translate3d(-100px,0,0);
  transition: .3s;
}

.anime-start{
  opacity: 1;
  transform: translate3d(0,0,0);
}

/* Logo  */

a.logo{
    animation-name: logo;
    animation-duration: 1s;
    animation-delay: 0.2s;
}

div.anime_txt_home{
    animation-name: titulo_home;
    animation-duration: 1s;
    animation-delay: 0.2;
}

@keyframes logo {
    0%   {top:-100px; opacity: 0}
    50%  {top:10px; opacity: 1}
    100% {top:0px; opacity: 1}
  }

@keyframes titulo_home {
    0%   {top:-200px; opacity: 0}
    50%  {top:10px; opacity: 1}
    100% {top:0px; opacity: 1}
}