*{

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0; padding: 0;
}


h1, h2, h3, h4, h5, p, li{
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

a{
    color: #00bff2;
}

a:hover{
    color: #BFD2FF;
    text-decoration: none;
    transition: .4s;
}



h1, h2,h3, h4{
  color: #454C5C;
}

h2{
  font-size: 8em;
}

h2 span{
  font-weight: bold;
}

.titulo_home{
  position: relative;
  mix-blend-mode: multiply;
}

h3{
  color: rgba(193, 207, 219, 0.25);
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
}

h3 span{
  color:#eee;
  font-weight:100;
}

h4{
    font-size: 1.6em;
}

p, li{
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: 0.07em;
    text-transform: none;
    color: #454C5C;
    font-weight: 300;
}

img{
  max-width: 100%;
  margin: 0 20px 20px 20px;
}


/* Animação bottão scroll */

@-webkit-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  60% {
  opacity: 1;
  top: 71%;
  }
  100% {
  opacity: 0;
  top: 71%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  60% {
  opacity: 1;
  top: 71%;
  }


  100% {
  opacity: 0;
  top: 71%;
  }
}
@keyframes ani-mouse {
 0% {
  opacity: 1;
  top: 29%;
  }
  60% {
  opacity: 1;
  top: 71%;
  }
  100% {
  opacity: 0;
  top: 71%;
  }
}
 .scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0px;
  transition: .5s;
}
.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: red;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #454C5C;
  border-radius: 23px;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #454C5C;
  border-radius: 50%;
  -webkit-animation: ani-mouse 1.5s linear infinite;
  -moz-animation: ani-mouse 1.5s linear infinite;
  animation: ani-mouse 1.5s linear infinite;
}

/* Classes da HOme */

.home{
    min-height: 1000px;
    background: url(../images/bg_home.jpg) no-repeat fixed;
}

.home h2{
  text-transform: uppercase;
  color: #fff;
}

.home h4{
  font-weight: lighter;
  color: #fff;
  margin-left: 180px;
  line-height: 2em;
}

h2{

}

h2 span{
  font-weight: lighter;
}

h2 span.level1{
  font-size: 0.5em;
}

h2 span.level2{
  font-size: 1em;
}

h2 strong{
 font-weight: bold;
}

h2 strong.level3{
 margin-left: 180px;
}

/* Detalhe do título da home */

h2 strong.level3::after {
  display: block;
  width: 100px;
  height: 7px;
  border: none;
  background: #fff;
  margin-bottom: 20px;
  }






/* Cases */

.case{
  min-height: 900px;
}

.case h2{
  font-weight: bold;

}

.case h4{
  margin-bottom: 30px;
font-size: 1.6em;
font-weight: lighter;
}

.case p{
  width: 33%;
}

.case img{
  margin: 40px auto;
}

.lista_dados li{
  list-style: none;
  text-align: left;
  width: 100%;
  margin-bottom: 40px;
  display: block;
  float: left;
  color: #454C5C;
}

.lista_dados span{
color: #C1CFDB;
letter-spacing: 10px;
text-transform: uppercase;
display: block;
width: 100%;
}

.box{
  padding: 120px 50px 120px 50px;
}

.box_color{
   background: url(../images/cases/watchin/problema_paralax.jpg) no-repeat fixed;
  background-size: cover;
   padding: 10%;
}

.box_color h4{
   color: #fff;
   text-align: center;
   text-transform: none;
   font-weight: lighter;
}

/* Case WatchIn */

/* Listagem Home*/
.case_listagem{
  min-height: 900px;
  position: relative;
}

.case_listagem h3{
  letter-spacing: 0.25em;
  color: #444B5B;
}

.case_listagem h4{
  font-size: 1.2em;
  margin-bottom: 80px;
  letter-spacing: 0.25em;
}

.box_bg{
  background: #fafafa;);
  height: 480px;
  position: absolute;
  z-index: -1;
  border-radius: 2px;
 }

/* Página Interna */
.case_watchin{
  background: url(../images/cases/watchin/bg_case_watchin.jpg) no-repeat top center;
  background-size: cover;
  color: #fff;
}

.case_watchin_listagem h2, .case_watchin_listagem h4{
  color: #fff;
}

.parallax_wireframe{
  background: url(../images/cases/watchin/wireframe_01_paralax.jpg) no-repeat fixed;
  background-size: cover;
  min-height: 500px;
}

.parallax_uifinal{
  background: url(../images/cases/watchin/capa.jpg) no-repeat fixed;
  background-size: cover;
  min-height: 500px;
}

.parallax_problema{
  background: url(../images/cases/problema_paralax.jpg) no-repeat fixed;
  background-size: cover;
  min-height: 500px;
}

.blocos_etapas{
  text-align: center;
  border-radius: 8px;
  padding: 40px;
}

.blocos_etapas span{
  font-size: 4em;
  color: #FAC2BA;
  font-weight: bold;
}

.blocos_etapas h4{
  font-size: 1.6em;
  margin-bottom: 10px;

}

.blocos_etapas li{
  margin-bottom: 0;
  font-size: 1em;
  list-style: none;
}

.blocos_personas{
  padding: 0 40px;
  margin-bottom: 80px;
}

.blocos_personas img{
  width: 40%;
  margin: 0 30% 20px 30%;
}

.blocos_personas h4{
  font-weight: 400;
  font-size: 2em;
}

.blocos_personas p{
  font-size: 1em;
}

.bloco_cinza{
  background: #EDF3F8;
}

.imagem_mockup{
  margin-top: -450px;

}

.box_thanks{
   background: url(../images/cases/watchin/bg_thanks.jpg) no-repeat top;
  background-size: cover;
   padding: 15%;
}

.box_thanks h3{
   color: #fff;
   text-align: center;
   text-transform: none;
   font-weight: lighter;
}



/* Case Wikipedia */

/* Listagem Home */
.case_wikipedia_listagem{
}

.case_wikipedia_listagem h2, .case_wikipedia_listagem h4{

}

/* Página Interna */
.case_wikipedia{
  background: url(../images/cases/watchin/bg_case_watchin.jpg) no-repeat top center;
  background-size: cover;
  color: #fff;
}

.about{
  padding-top: 15%;
}

.about h2{
  font-weight: bold;
  text-transform: uppercase;
  color: #454C5C;
}

/* Form & Buttons */

.buttom{
  background: #fff;
  height: 60px;
  padding: 15px 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0);
  border-radius: 2px;
  border: solid 1px #eee;
}

.buttom:hover{
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.2)
  color:#fff;
  background: #00bff2;
  border: solid 1px #00bff2;
  padding: 15px 35px;

}


/* Contem o menu oculto antes do click */




/* Barra branca do topo */
.barra_menu{
  background: transparent;
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  position: fixed;
  z-index: 100;
  transition: .4s;
}

/* Logo grande branca */
.barra_menu a.logo{
    background: url(../images/logo.svg) no-repeat; display: block;
    width: 100px;
    height: 100px;
    background-size: 100px;
    text-indent: -10000px;
    transition: .4s;
}

/* Logo pequena cinza*/
.barra_menu.ativa a.logo{
    background: url(../images/logo_dark.svg) no-repeat; display: block;
    width: 80px;
    height: 80px;
    background-size: 80px;
    text-indent: -10000px;
    transition: .4s;
}


/* barra ativa após rolagem */

.ativa{
  background: #fff;
  height: 90px;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.05)
}

.black{
  background: rgba(0, 0, 0, 0.5)
  height: 90px;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.05)
}

.menu{
  text-align: right;
}

.menu ul{

}

.menu li{
  display: inline-block;
    list-style: none;


}

.menu li a{
    list-style: none;
    font-size: 0.8em;
    display: block;
    font-weight: lighter !important;
    padding: 15px;
}


.menu li a.separador{
  padding-bottom: 40px;
margin-bottom: 40px;
border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.menu li a:hover{
}





/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* Media Queries Tablet / Mobile*/

@media screen and (max-width: 1440px){
  .home, .case{
    min-height: 700px;
  }
    h2{
      font-size: 4.5em;
  }

  h3{
      font-size: 2.5em;
  }

  h4{
      font-size: 1.5em;
  }


}

@media screen and (max-width: 1200px){
  .home{}


}

@media screen and (max-width: 960px){

  .home .case{
    min-height: 300px;
  }

  h2{
      font-size: 5em;
  }

  h3{
      font-size: 2em;
  }

    h3.title_shadow{
  font-size: 3.2em;
  }

  .box_title_shadow{
    min-height: 60px;
  }

  h4{
      font-size: 1.8em;
  }

  .parallax_wireframe, .parallax_uifinal{
    display: none;
  }

  .imagem_mockup{
    margin-top: 0px;
  }

  .scroll-btn{
    display: none;
  }
}


@media screen and (max-width: 767px){

    .about{
      padding-top: 40%;
    }

  .case_watchin{
    padding-top: 200px;
  }



}

@media screen and (max-width: 460px){

    .home, .case{
    min-height: 480px;
  }


  h2{
      font-size: 2.4em;
  }

  h3{
      font-size: 1.8em;
  }

    h3.title_shadow{
  font-size: 3.2em;
  }

  .box_title_shadow{
    min-height: 60px;
  }

  h4{
      font-size: 0.8em;
  }

  .menu li a{
    font-size: 0.8em;
  }


.box{
  padding: 50px;
}



}

/* Animações */

.anime{
  opacity: 0;
  transform: translate3d(-100px,0,0);
  transition: .3s;
}

.anime-start{
  opacity: 1;
  transform: translate3d(0,0,0);
}