*{

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0; padding: 0;
}

.color_primary{
  color: #444B5B;
}

.color_secundary{
  color: #8693B3;
}

.color_basic{
  color: #C1CFDB;
}

a{
    color: #BFD2FF;
    transition: .6s;
}

a:hover{
    color: #99A8CC;
    text-decoration: none;
    transition: .6s;
}

img{
  max-width: 100%;
  margin: 0 20px 20px 20px;
}

h1, h2, h3, h4, h5{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

p, li{
    letter-spacing: 1.2px;
    margin-bottom: 20px;
    color: #8693B3;
    font-weight: 100;
    list-style: none;
}

h1{ /* Só foi usado na home */
  font-size: 8em;
  color: #fff;
}

h2{
  font-size: 4em;
  letter-spacing: 0.25em;
  color: #444B5B;
}

h3{
  color: #444B5B;
  letter-spacing: 0.25em;
  font-size: 2.4em;
}

h4{
  color: #8693B3;
  letter-spacing: 0.5em;
  font-size: 1.2em;
  font-weight: 100;
}

/* Form & Buttons */

.button{
  height: 60px;
  padding: 15px 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-radius: 2px;
  border: solid 1px #BFD2FF;
  font-weight: lighter;
  font-size: 0.75em;
  letter-spacing: 1em;
}

.button:hover{
  box-shadow: 0px 3px 30px rgba(191, 210, 255, 0.5);
  border: solid 1px #BFD2FF;
  padding: 15px 35px;

}


/* Classes da Home */

.home{
    min-height: 1000px;
    background: url(../images/bg_home.jpg) no-repeat fixed;
    position: relative;
}

.home span{
  font-weight: 100; /* Remove bold do I'M */
}

.home span.level1{ /* Posicionamento do Medeiros da home */
   margin-left: 11%;
   font-weight: bold;
}

.home h2{
  letter-spacing: 0.25em;
  font-size: 2.4em;
  font-weight: 100;
}

.home h4{
  font-weight: 100;
  margin-left: 11%;
  line-height: 2em;
  letter-spacing: 1.6px;
  color:#737E99;
}

.home a:hover{
    color: #E6EDFF;
    transition: .6s;
}

.box_txt_home{
    position: absolute;
}

/* Listagem Cases Home */

.case_listagem{
  position: relative;
  margin: 80px 0 120px 0;
}

.case_listagem h4{
  margin-bottom: 80px;
}

.box_cor_case{
  background: rgba(193, 207, 219, 0.1);
  position: absolute;
  width: 50%;
  height: 320px;
  z-index: -1;
}

/* Cases */

.box_topo_case{
  color: #fff;
  min-height: 600px;
}

.box_thanks{
   background: url(../images/cases/watchin/bg_thanks.jpg) no-repeat top;
   background-size: cover;
   padding: 15%;
}

.box_thanks h3{
   color: #fff;
   text-align: center;
   text-transform: none;
   font-weight: lighter;
}

.box{ /* Blocos com margens */
  padding: 120px 80px 120px 80px;
}

.box img{
  max-width: 95%;
}

.ficha_tecnica li{ /* Dados do projeto e persona */
  list-style: none;
  text-align: left;
  width: 100%;
  margin-bottom: 40px;
  display: block;
  float: left;
  color: #8693B3;
}

.ficha_tecnica span { /* Label dos dados */
    color: #C1CFDB;
    letter-spacing: 10px;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

/* Blocos Aproach */

.blocos_etapas{
  padding: 40px 20px 40px 20px;
  margin-right: 10px;
}

.blocos_etapas h2{
  font-weight: 100;
}

.blocos_etapas li{
  margin-bottom: 0;
}

/* Blocos Personas */

.blocos_personas{
  padding: 0 40px;
  margin-bottom: 80px;
}

.blocos_personas img{
  width: 80%;
  max-width: 180px;
  margin: 0 30% 40px 30%;
}


/* Case WatchIn */

.case_watchin{
  background: url(../images/cases/watchin/bg_case_watchin.jpg) no-repeat center right;
}

.case_watchin img{
  margin: 40px auto;
}

.parallax_wireframe{
  background: url(../images/cases/watchin/wireframe_01_paralax.jpg) no-repeat fixed;
  background-size: cover;
  min-height: 500px;
}

.parallax_uifinal{
  background: url(../images/cases/watchin/capa.jpg) no-repeat fixed center right;
  background-size: cover;
  min-height: 500px;
}

.parallax_problema{
  background: url(../images/cases/problema_paralax.jpg) no-repeat fixed;
  background-size: cover;
  min-height: 500px;
}


.imagem_mockup{
  margin-top: -100px;
}

.box_idosos{
  background: url(../images/cases/watchin/foto_Idosos.jpg) no-repeat;
  height: 900px;
  width: 100%;
  background-size: cover;
}

/* Case Wikipedia */

.case_wikipedia{
  background: url(../images/cases/watchin/bg_case_watchin.jpg) no-repeat top center;
  background-size: cover;
  color: #fff;
}

.about{
  padding-top: 15%;
}

.about h2{
  font-weight: bold;
  text-transform: uppercase;
  color: #454C5C;
}



/* Barra branca do topo */
.barra_menu{
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  position: fixed;
  z-index: 100;
  transition: .4s;
}



/* Estado padrão do logo - Branca */

a.logo{
    background: url(../images/logo.svg) no-repeat; display: block;
    text-indent: -10000px;
    transition: .4s ease-out .2s;
    width: 100px;
    height: 100px;
    background-size: 100px;
    position: absolute;
}

/* Estado padrão do logo - Branca */

.barra_menu.black a.logo{
    background: url(../images/logo_dark.svg) no-repeat; display: block;
    width: 80px;
    height: 80px;
    background-size: 80px;
}

.barra_menu.ativa a.logo{
    background: url(../images/logo_dark.svg) no-repeat; display: block;
    width: 80px;
    height: 80px;
    background-size: 80px;
}

.barra_menu.inativa a.logo{
    background: url(../images/logo.svg) no-repeat; display: block;
    width: 100px;
    height: 100px;
    background-size: 100px;
}



/* barra ativa após rolagem */

.ativa{
  background: #fff;
  height: 90px;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.05);
}

.black{
  background: rgba(0, 0, 0, 0.95);
  height: 90px;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.05);
}

.inativa{
  background: transparent;
  height: 90px;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.05);
}

.menu{
  text-align: right;
}

.menu ul{

}

.menu li{
  display: inline-block;
    list-style: none;


}

.menu li a{
    list-style: none;
    font-size: 0.8em;
    display: block;
    font-weight: lighter !important;
    padding: 15px;
}


.menu li a:hover{
}





/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* Media Queries Tablet / Mobile*/

@media screen and (max-width: 1440px){

 /* Títulos */

    h1{ /* Só foi usado na home */
    font-size: 4.8em;
    color: #fff;
    }

    h2{
      font-size: 2.4em;
      letter-spacing: 0.25em;
      color: #444B5B;
    }

    h3{
      color: #444B5B;
      letter-spacing: 0.25em;
      font-size: 1.2em;
    }

    h4{
      color: #8693B3;
      letter-spacing: 0.5em;
      font-size: 0.8em;
      font-weight: 100;
    }

/* Classes da Home */

    .home{
        min-height: 720px;

    }

    .home span.level1{ /* Posicionamento do Medeiros da home */
       margin-left: 11%;
    }

    .home h2{
      font-size: 1.6em;
    }

    .home h4{
      margin-left: 11%;
      font-size: 1em;
    }

    .case_listagem{
      margin: 80px 0 120px 0;
    }


     .case_listagem .tumb{
     text-align: center;
    }

}

@media screen and (max-width: 1200px){

    .box_topo_case{
      color: #fff;
      min-height: 720px;
      border: solid red 1px;
    }

     .mockup-topo{
      margin-top: 0;
      max-width: 90%;
      background: red;
    }

}

@media screen and (max-width: 960px){

 /* Títulos */


    h1{ /* Só foi usado na home */
    font-size: 4.8em;
    color: #fff;
    }


/* Classes da Home */

    .home{
        min-height: 960px;

    }

    .home span.level1{ /* Posicionamento do Medeiros da home */
       margin-left: 0;
    }

    .home h2{
      font-size: 1.8em;
    }

    .home h4{
      margin-left: 0;
      font-size: 1em;
    }

    .case_listagem{
      margin: 80px 0 120px 0;
    }

     .case_listagem .tumb{
     text-align: center;
    }

    .case_listagem .tumb img{
      max-width: 320px;
    }

    .box{
      padding: 50px 80px;
    }

    .imagem_mockup{
      margin-top: 0;
      max-width: 90%;
    }

      .box_idosos{
      height: 300px;
     }

    /* Cases */

    .box_topo_case{
      min-height: 720px;
      border: solid blue 1px;
    }

    .box_thanks{
       background: url(../images/cases/watchin/bg_thanks.jpg) no-repeat top;
      background-size: cover;
       padding: 15%;
    }

    .box_thanks h3{
       color: #fff;
       text-align: center;
       text-transform: none;
       font-weight: lighter;
    }

    .box{ /* Blocos com margens */
      padding: 20px;
    }

    .ficha_tecnica li{ /* Dados do projeto e persona */
      list-style: none;
      text-align: left;
      width: 100%;
      margin-bottom: 40px;
      display: block;
      float: left;
      color: #8693B3;
    }

    .ficha_tecnica span { /* Label dos dados */
        color: #C1CFDB;
        letter-spacing: 10px;
        text-transform: uppercase;
        display: block;
        width: 100%;
    }

    /* Blocos Aproach */

    .blocos_etapas{
      padding: 40px 20px 40px 20px;
      margin-right: 10px;
    }

    .blocos_etapas h2{
      font-weight: 100;
    }

    .blocos_etapas li{
      margin-bottom: 0;
    }

    /* Blocos Personas */

    .blocos_personas{
      padding: 0 40px;
      margin-bottom: 80px;
    }

    .blocos_personas img{
      width: 40%;
      margin: 0 30% 40px 30%;
    }


    /* Case WatchIn */

    .case_watchin{
      }

    .case_watchin img{
      margin: 40px auto;
    }

    .parallax_wireframe{
      background: url(../images/cases/watchin/wireframe_01_paralax.jpg) no-repeat fixed;
      background-size: cover;
      min-height: 500px;
    }

    .parallax_uifinal{
      min-height: 500px;
    }

    .parallax_problema{
      background: url(../images/cases/problema_paralax.jpg) no-repeat fixed;
      background-size: cover;
      min-height: 500px;
    }



}


@media screen and (max-width: 767px){

  /* Títulos */


    h1{ /* Só foi usado na home */
    font-size: 3.2em;
    color: #fff;
    }

    h2{
      font-size: 3.2em;
      letter-spacing: 0.25em;
      color: #444B5B;
    }

    h3{
      color: #444B5B;
      letter-spacing: 0.25em;
      font-size: 1.2em;
    }

    h4{
      color: #8693B3;
      letter-spacing: 0.5em;
      font-size: 0.8em;
      font-weight: 100;
    }

/* Classes da Home */

    .home{
        min-height: 720px;

    }

    .home span.level1{ /* Posicionamento do Medeiros da home */
       margin-left: 0;
    }

    .home h2{
      font-size: 1.8em;
    }

    .home h4{
      margin-left: 0;
      font-size: 1em;
    }

    .case_listagem{
      text-align: center;
      margin: 80px 0 120px 0;
    }

    .case_listagem .button{
      display: none;
    }

    .case_listagem .info{
     height: 100px;
     margin-bottom: 60px;
    }

     .case_listagem .tumb{
     height: 100px;
     margin-bottom: 120px;
     text-align: center;
    }

    .barra_menu{
      display: none;
    }

    .box{
      padding: 50px;
    }

     .box_topo_case{
      color: #fff;
      min-height: 720px;
}

      .mockup_topo{
        display: none;
      }

    /* Case WatchIn */

    .case_watchin{
    }

    .case_watchin img{
      margin: 40px auto;
    }

}

@media screen and (max-width: 460px){


    /* Títulos */

    h1{ /* Só foi usado na home */
    font-size: 2.4em;
    color: #fff;
    }

    h2{
      font-size: 2.4em;
      letter-spacing: 0.25em;
      color: #444B5B;
    }

    h3{
      color: #444B5B;
      letter-spacing: 0.25em;
      font-size: 1.2em;
    }

    h4{
      color: #8693B3;
      letter-spacing: 0.5em;
      font-size: 0.8em;
      font-weight: 100;
    }

/* Classes da Home */

    .home{
        min-height: 540px;

    }

    .home span.level1{ /* Posicionamento do Medeiros da home */
       margin-left: 0;
    }

    .home h2{
      font-size: 1.2em;
    }

    .home h4{
      margin-left: 0;
      font-size: 1em;
    }

    .case_listagem{
      text-align: center;
      margin: 80px 0 120px 0;
    }

    .case_listagem .button{
      display: none;
    }

    .case_listagem .info{
     height: 100px;
     margin-bottom: 40px;
    }

     .case_listagem .tumb{
     height: 100px;
     margin-bottom: 80px;
     text-align: center;
    }

    .case_listagem .tumb img{
      max-width: 300px;
    }

    .box_cor_case{
        width: 80%;
        height: 180px;
        z-index: -1;
      }

    .barra_menu{
      display: none;
    }

    .box{
      padding: 50px;
    }

}